body{
    align-items: center;
    justify-content: center;
    display: flex;
    background-color:white;
}


.div1{
    background-color: black;
    width:570px;
    padding:10px;
    border-radius: 80px;


}

h1{
    color:white;
}

.div2{
    padding-top: 40px;
}

button{
    width:150px;
    height:60px;
    font-size: 25px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border: 2px black solid;
    background-color: white;
}


button:hover{
    background-color: black;
    color: white;
}